<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>MODBD</title>
</head>
<body>
<div>
    <center>
        <br/><br/>
        <h2>Select your option</h2>
        <br/>
        </center>
    <center>
        <br/>
        <button style="width: 50%;   margin: auto;" type="submit" value="value"  class="btn btn-large btn-success">Button 1</button>
    </center>
    <center>
        <br/>
        <button style="width: 50%;   margin: auto;" type="submit" value="value"  class="btn btn-large btn-success">Button 2</button>
    </center>
</div>
</body>
</html>