<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Ticket</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="text-align:center;">
    <form  th:action="@{'/saveTicket'}"  th:object="${ticket}"  method="POST">

        <input type="hidden" th:field="*{id_ticket}" />

        <h2>Date ticket issued</h2>
        <input  type="date" th:field="*{date_ticket_issued}" >
        <br/>
        <br/>

        <h2>Date ticket finished</h2>
        <input  type="date" th:field="*{date_ticket_finished}" >
        <br/>
        <br/>

        <h2>Id vehicle</h2>
        <div class="form-group blu-margin">
            <select class="form-control" style="width: 7em; display: block; margin: 0 auto;" th:field="*{id_vehicle}">
                <option value="0">select id</option>
                <option th:each="id : ${vehicleids}" th:value="${id}" th:text="${id}"></option>
            </select>
        </div>
        <br/>

        <h2>Id ticket type</h2>
        <div class="form-group blu-margin">
            <select class="form-control" style="width: 7em; display: block; margin: 0 auto;" th:field="*{id_ticket_type}">
                <option value="0">select ticket type</option>
                <!--option th:each="type : ${tichettypes}" th:value="${type}" th:text="${type}"></option-->
            </select>
        </div>
        <br/>

        <h2>Id ticket status</h2>
        <div class="form-group blu-margin">
            <select class="form-control" style="width: 7em; display: block; margin: 0 auto;" th:field="*{id_ticket_status}">
                <option value="0">select ticket status</option>
                <!--option th:each="status : ${tichetstatus}" th:value="${status}" th:text="${status}"></option-->
            </select>
        </div>
        <br/>

        <h2>Id zone</h2>
        <div class="form-group blu-margin">
            <select class="form-control" style="width: 7em; display: block; margin: 0 auto;" th:field="*{id_zone}">
                <option value="0">select zone id</option>
                <!--option th:each="zone : ${zones}" th:value="${zone}" th:text="${zone}"></option-->
            </select>
        </div>
        <br/>

        <h2>Price</h2>
        <input  type="number" th:field="*{price}" >
        <br/>
        <br/>

        <button type="submit" class="button-78">Save Ticket</button>
    </form>
</body>
</html>