<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<table border="1" class = "table table-striped table-responsive-md" style="text-align:center;">
    <thead>
    <tr style="text-align:center;">
        <th>
            <a>Date ticket issued</a>
        </th>
        <th>
            <a>Date ticket finished</a>
        </th>
        <th>
            <a>Id vehicle</a>
        </th>
        <th>
            <a>Id ticket type</a>
        </th>
        <th>
            <a>Id ticket status</a>
        </th>
        <th>
            <a>Id zone</a>
        </th>
        <th>
            <a>Price</a>
        </th>
        <th> Actions </th>
    </tr>
    </thead>
    <tbody style="text-align:center;">
    <tr th:each="ticket : ${listTickets}">
        <td th:text="${ticket.date_ticket_issued}"></td>
        <td th:text="${ticket.date_ticket_finished}"></td>
        <td th:text="${ticket.id_vehicle}"></td>
        <td th:text="${ticket.id_ticket_type}"></td>
        <td th:text="${ticket.id_ticket_status}"></td>
        <td th:text="${ticket.id_zone}"></td>
        <td th:text="${ticket.price}"></td>
        <td> <a th:href="@{/updateTicket/{id}(id=${ticket.idticket})}" class="btn btn-primary">Update</a>
            <a th:href="@{/deleteTicket/{id}(id=${ticket.idticket})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


<div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
        <div class = "col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class = "col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>


<div style="text-align:center;">
    <a class="btn btn-primary" th:href = "@{/}">Back to Main Page</a>
</div>
</body>
</html>